<div class="container" style="height:90px">
  <div class="row">
    <div class="col">
      <div id="footer" class="content-box">
        <!-- <div class="container"> -->
        <p>
          The workshop is organised in association with &nbsp;
          <a href="http://www.semanticaudio.ac.uk/"><img src="./img/FAST-logo.png" alt="FAST" height="40px"></a>
          &nbsp;
          <a href="http://www.audiocommons.org/"><img src="./img/audio-commons-logo-horizontal.png" alt="Audio Commons" height="30px"></a>
        </p>
        <p>
          The workshop proceedings are published in the ACM International Conference Proceeding Series (ICPS) and will be made available in the ACM Digital Library (ACM DL). &nbsp;
          <a href="https://www.acm.org/publications/icps-series"><img src="./img/ACM-ICPS-logo.jpeg" alt="ACM-ICPS" height="40px"></a>
        </p>
          <!-- <div class="row">
            <div class="col" style="vertical-align: bottom;">
              <div>
                Workshop organised in association with
              </div>
            </div>
            <div class="col">
              <a href="http://www.semanticaudio.ac.uk/">
                <image src="./img/FAST-logo.png" alt="FAST" height="40px">
              </a>
            </div>
            <div class="col">
              <a href="http://www.audiocommons.org/">
                <image src="./img/audio-commons-logo-horizontal.png" alt="Audio Commons" height="30px">
              </a>
            </div>
          </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
