<div class="container" style="height:90px">
  <div class="row">
    <div class="col">
      <div id="footer" style="background-color: #ffffffcf; padding:15px 20px; border-width: 1px; border-style:solid;">
        <!-- <div class="container"> -->
          The workshop is organised in association with &nbsp;
          <a href="http://www.semanticaudio.ac.uk/"><img src="./img/FAST-logo.png" alt="FAST" height="40px"></a>
          &nbsp;
          <a href="http://www.audiocommons.org/"><img src="./img/audio-commons-logo-horizontal.png" alt="Audio Commons" height="30px"></a>
          <!-- <div class="row">
            <div class="col" style="vertical-align: bottom;">
              <div>
                Workshop organised in association with
              </div>
            </div>
            <div class="col">
              <a href="http://www.semanticaudio.ac.uk/">
                <image src="./img/FAST-logo.png" alt="FAST" height="40px">
              </a>
            </div>
            <div class="col">
              <a href="http://www.audiocommons.org/">
                <image src="./img/audio-commons-logo-horizontal.png" alt="Audio Commons" height="30px">
              </a>
            </div>
          </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
