<div class="container" style="height:90px">
  <div class="row">
    <div class="col">
      <div id="footer" style="background-color: #ffffffcf; padding:15px 20px; border-width: 1px; border-style:solid;">
        Workshop organised in association with
        <a href="http://www.semanticaudio.ac.uk/">FAST</a>
        and
        <a href="http://www.audiocommons.org/">AudioCommons</a>
        <!-- TODO: Add image links to the FAST and Audio Commons projects
        (logos from the bottom of website http://www.semanticaudio.net/) -->
      </div>
    </div>
  </div>
</div>
