<div class="container">
  <div class="row">
    <!-- <div class="col"> -->
      <div class="content-box">
        <p>
          The workshop is organised in association with:
          <!-- <a href="http://www.semanticaudio.ac.uk/"><img src="./img/FAST-logo.png" alt="FAST" height="40px"></a>
          &nbsp;
          <a href="http://www.audiocommons.org/"><img src="./img/audio-commons-logo-square.png" alt="Audio Commons" height="40px"></a> -->
        </p>
        <p style="text-align: center">
          <a href="http://www.semanticaudio.ac.uk/"><img src="./img/FAST-logo.png" alt="FAST" height="40px"></a>
          &nbsp;
          <a href="http://www.audiocommons.org/"><img src="./img/audio-commons-logo-square.png" alt="Audio Commons" height="40px"></a>
        </p>
      </div>
    <!-- </div> -->
  </div>
  <div class="row">
    <!-- <div class="col"> -->
      <div class="content-box">
        <p>
          The workshop proceedings are published in
          the ACM International Conference Proceeding Series (ICPS)
          and will be made available in the ACM Digital Library (ACM DL).
          <!-- <a href="https://www.acm.org/publications/icps-series"><img src="./img/ACM-ICPS-logo.jpeg" alt="ACM-ICPS" height="40px"></a> -->
        </p>
        <p style="text-align: center">
          <a href="https://www.acm.org/publications/icps-series"><img src="./img/ACM-ICPS-logo.jpeg" alt="ACM-ICPS" height="40px"></a>
        </p>
      </div>
    <!-- </div> -->
  </div>
</div>
